.productWrapper {
  margin-top: 100px;
}

.productWrapper h4 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: x-large;
  font-weight: bold;
}

.productContainer {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 670px) {
  .productContainer {
    justify-content: center;
  }

  .productWrapper h4 {
    text-align: center;
    font-size: 25px;
    font-weight: 800;
  }

  .productWrapper {
    margin-top: 50px;
  }
}
